@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Space+Grotesk:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 360px) {
  body {
    font-family: poppins;
  }
}
